body{
    background-color: rgb(217, 216, 216);
}
.container{
    position:absolute;
    padding:10px;
    left: 400px;
    top: 200px;
    background-color: white;
    border-radius: 8px;
    
}
#description{
    padding:5px;
}
#amount{
    padding: 5px;
}
#btn{
    padding:5px;
}
.space{
    padding-right:300px;
    font-size:large;
    font-weight: 600;
}